<section class="login-content">
    <div class="login-content-lt"></div>
    <div class="login-content-rt">
      <div class="login-box">
      <form class="login-form" action="#">
        <div class="logo-wrapper">
          <!-- <img src="../../../assets/images/fruit-salad_7442127.png" alt=""> -->
          <span>Meal Facility</span>
        </div>
        <h3 class="login-head">Forgot Password?</h3>
        <p class="login-text">Enter the email below to continue.</p>
        <div class="input-addon">
          <mat-form-field class="form-control" style="border-style: none; height: auto;">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="Email" required>
            <mat-error *ngIf="Email.invalid">{{ getErrorMessage(Email) }}</mat-error>
          </mat-form-field>
        </div>
        

      
        <div class="form-group btn-container" style="margin-left: 22px; margin-right: 10px;">
          <button type="submit" class="btn btn-xl btn-primary"  (click)="onSubmit()" [disabled]="Email.invalid || loading">Submit 
            <div class="spin1">
            <span style="margin-left: 1rem;" *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ></span>
            </div>
          </button>
        </div>
      </form>
    </div>
    </div>
    
    
    
  </section>