<div class="container">
  <header class="header">
    <div class="header-left">
      <div class="sidebar-container" [class.open]="sidebarOpen">
        <div class="sidebar-content">
          <span class="close-btn large-close" (click)="toggleSidebar()">&times;</span>
          <a href="#" (click)="openChangePasswordDialog($event)">Change Password</a>
          <a href="dashboard/aboutus">About Us</a>
          <a href="dashboard/terms&condition">Terms & Condition</a>
          <a href="dashboard/privacypolicy">Privacy Policy</a>
          <a href="#" (click)="Logout($event)">Logout</a>
        </div>
      </div>
      <button class="profile-btn" aria-label="Profile" (click)="toggleSidebar()">
        <img src="../../../assets/icons/menu2.png" alt="Profile">
      </button>
      <a href="dashboard/" class="homepage" style="text-decoration: none; color: aliceblue;">
        <div class="header-left">
          <img src="assets/icons/logo-white.svg" alt="Logo" class="logo">
          <h1 class="title">Meal Facility</h1>
        </div>
      </a>
    </div>
    <div class="header-right">
      <div class="greeting title">
        <p>Hey, {{ username }}</p>
      </div>
      <div class="dropdown">
        <button class="notification-btn" aria-label="Notifications" (click)="toggleNotificationDropdown()">
          <div matBadge="{{ notifications.length }}" matBadgeColor="accent">
            <img src="assets/icons/notification.png" alt="Notifications">
          </div>
        </button>
        <div class="dropdown-content notification-dropdown-content" [class.show]="notificationDropdownOpen && notifications.length > 0">
          <ng-container *ngIf="notifications.length; else noNotifications">
            <div class="notification-list">
              <div *ngFor="let notification of notifications; let i = index">
                <a href="#" (click)="removeNotification($event, notification.id, notification.message)" 
                   [ngClass]="{'success-message': isSuccess(notification), 'failure-message': isFailure(notification), 'opt-message':isOtp(notification), 'new-message':isNew(notification)}">
                  {{ notification.message }}
                </a>
              </div>
            </div>
            <button class="clear-all-btn" (click)="removeAllNotifications($event)">Clear All Notifications</button>
          </ng-container>
          <ng-template #noNotifications>
            <p>No notifications</p>
          </ng-template>
        </div>
      </div>
    </div>
  </header>

  <div class="change-password-dialog" *ngIf="isChangePasswordDialogOpen">
    <h2>Change Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="ChangePassword()">
      <div>
        <label for="oldPassword">Old Password:</label>
        <mat-form-field class="form-control" style="border-style: none; height: auto;">
          <input matInput [type]="hideOldPassword ? 'password' : 'text'" id="oldPassword" formControlName="oldPassword">
          <button mat-icon-button matSuffix (mousedown)="$event.preventDefault(); togglePasswordVisibility('oldPassword')" [attr.aria-label]="hideOldPassword ? 'Show old password' : 'Hide old password'" [attr.aria-pressed]="!hideOldPassword" style="border: none; background-color: transparent; padding-right: 15px;">
            <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <mat-form-field class="form-control" style="border-style: none; height: auto;">
          <input matInput [type]="hideNewPassword ? 'password' : 'text'" id="newPassword" formControlName="newPassword">
          <button mat-icon-button matSuffix (mousedown)="$event.preventDefault(); togglePasswordVisibility('newPassword')" [attr.aria-label]="hideNewPassword ? 'Show new password' : 'Hide new password'" [attr.aria-pressed]="!hideNewPassword" style="border: none; background-color: transparent; padding-right: 15px;">
            <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <label for="confirmNewPassword">Confirm New Password:</label>
        <mat-form-field class="form-control" style="border-style: none; height: auto;">
          <input matInput [type]="hideConfirmNewPassword ? 'password' : 'text'" id="confirmNewPassword" formControlName="confirmNewPassword">
          <button mat-icon-button matSuffix (mousedown)="$event.preventDefault(); togglePasswordVisibility('confirmNewPassword')" [attr.aria-label]="hideConfirmNewPassword ? 'Show confirm new password' : 'Hide confirm new password'" [attr.aria-pressed]="!hideConfirmNewPassword" style="border: none; background-color: transparent; padding-right: 15px;">
            <mat-icon>{{ hideConfirmNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" [disabled]="passwordForm.invalid">Change Password</button>
        <button type="button" (click)="closeChangePasswordDialog()">Cancel</button>
      </div>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  
</div>
