<section class="login-content">
    <div class="login-content-lt"></div>
    <div class="login-content-rt">
      <div class="login-box" style="height: 100vh;">
        <form class="login-form">
          <div class="logo-wrapper" style="margin-bottom: 10px;">
            <img src="../../assets/images/logo.svg" alt="Rishabh Software">
            <span>Meal Facility</span>
            </div>
            <h3 class="login-head" style="margin-bottom: 5px;">Create your account</h3>
            <p class="login-text">Enter your credentials to access Create account.</p>
            <div class="form-group" style="padding: auto;">
              <div class="form-group">
                <mat-form-field class="form-control" style="border-style: none; height: auto;">
                  <mat-label>UserRole</mat-label>
                  <mat-select placeholder="Select YourRole" [formControl]="UserRole" required>
                    <mat-option *ngFor="let role of userRoles" [value]="role">
                      {{ role }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="UserRole.invalid">{{ getErrorMessage(UserRole) }}</mat-error>
                </mat-form-field>
                <div class="input-addon">
                  <mat-form-field class="form-control" style="border-style: none; height: auto;">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="john Wick" [formControl]="Name" required autofocus><!--autofocus-->
                    <mat-error *ngIf="Name.invalid">{{ getErrorMessage(Name) }}</mat-error>
                    <!-- <div class="icon-after icon-green"><i class="icon-check" ></i></div> -->
                  </mat-form-field>
                </div>
                
                <div class="input-addon">
                  <mat-form-field class="form-control" style="border-style: none; height: auto;">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="Email" required>
                    <mat-error *ngIf="Email.invalid">{{ getErrorMessage(Email) }}</mat-error>
                  </mat-form-field>
                </div>
                
                <div class="input-addon">
                  <mat-form-field class="form-control" style="border-style: none; height: auto;">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="abc@!#342" [formControl]="Password" required>
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'" [attr.aria-pressed]="!hidePassword" style="border: none;  background-color: transparent; padding-right: 15px;">
                      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="Password.invalid">{{ getErrorMessage(Password) }}</mat-error>
                  </mat-form-field>
                </div>
                
                <div class="input-addon">
                  <mat-form-field class="form-control" style="border-style: none; height: auto;">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="abc@!#342" [formControl]="CoPassword" required>
                    <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" [attr.aria-label]="hideConfirmPassword ? 'Show password' : 'Hide password'" [attr.aria-pressed]="!hideConfirmPassword" style="border: none;  background-color: transparent; padding-right: 15px;">
                      <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="CoPassword.invalid">{{ getErrorMessage(CoPassword) }}</mat-error>
                  </mat-form-field>
                </div>
                
                
                
                <mat-form-field class="form-control" style="border-style: none; height: auto;">
                  <mat-label>Department</mat-label>
                  <mat-select placeholder="Select Department" [formControl]="Department" required>
                    <mat-option *ngFor="let department of departmentOptions" [value]="department">
                      {{ formatDepartmentOption(department) }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="Department.invalid">{{ getErrorMessage(Department) }}</mat-error>
                </mat-form-field>
                
                <div class="input-addon">
                  <mat-form-field class="form-control" style="border-style: none; height: auto;">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="7069494809" [formControl]="PhoneNo" required>
                    <mat-error *ngIf="PhoneNo.invalid">{{ getErrorMessage(PhoneNo) }}</mat-error>
                  </mat-form-field>
                </div>
                
                  <!-- <div class="d-flex align-items-center justify-content-between" style="padding-left: 25px ;">
                    <div class="form-group mb-0">
                    <label class="custom-checkbox mb-0"><span class="checkbox__title">Remember Me</span>
                      <input class="checkbox__input" type="checkbox"/><span class="checkbox__checkmark"></span>
                    </label>
                  </div>
    
                  </div> -->
  
                  <div class="form-group btn-container" style="padding-bottom: 12px; margin-left: 20px;">
                    <button class="btn btn-xl btn-primary" (click)="Registration()" style="align-content: center; align-items: center; " >Sign Up</button>
                  </div>
  
                  <div class="form-group mb-0" >
                    <div class="utility">
                      <p><a href="/login" class="form-link" style="padding-top: 15px;  padding-bottom: 20px; display: flex; justify-content: center;" >Have a Account??</a></p>
                    </div>
                  </div>
  
                  
  
                </div>
              <!-- </div> -->
              
            </div>
        </form>
      </div>
  </div>
  </section>
  
  