<body>
    
<section id="page-header" class="about-header">
    <video autoplay muted loop>
        <source src="../../../assets/Video/WhatsApp Video 2024-06-03 at 18.51.00_3ef2a43e.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h2>#KnowUs</h2>
    <!-- <p>Lorem ipsum dolor sit amet consectetur.</p> -->
</section>


<section id="about-head" class="section-p1">
    <img src="img/menu-company_new.jpg" alt="" style="border-radius: 50px;">
    <div>
        <h2>Who We Are?</h2>
        <p>Rishabh Software was founded in the year 2000 by Mr. & Mrs. Raju Shah with a simple thought of delivering exceptional value to global customers. From the start, the vision was clear – to empower businesses with world-class software solutions. They did this by tapping into local talent in their home state of Gujarat by building a platform for budding software developers to grow and nurture their careers. At Rishabh, we not only provide your business with exceptional enterprise-grade applications but go above and beyond. With 1200+ successful projects and a process-driven mindset, we’ve got your back. Our repeat clientele speaks volumes for our values and ethics in all our dealings – be it software development across web, mobile, analytics, cloud, or through our engineering and BPO services. We believe in doing the best for our clients because WE CARE</p>

        <abbr title="">Rishabh Software’s mission is to leverage the latest Digital Technologies in order to power the Business Transformation of our clients resulting in sustained long-term growth.</abbr>
        <br><br>
        
        <!-- <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%" border-radius: "50px">Continually Enhancing Value for Our Global Customers</marquee> -->
        <div class="marquee-container">
            <marquee  loop="-1" scrollamount="5" width="100%">Continually Enhancing Value for Our Global Customers</marquee>
        </div>
        
    </div>
</section>
</body>