<section id="page-header" class="about-header">
    <video autoplay muted loop>
        <source src="../../../assets/Video/mixkit-professional-chefs-work-in-restaurant-kitchen-15875-hd-ready.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h2>#AboutUs</h2>
</section>

<section id="developers" class="section-p1">
    <div class="developer-card">
        <img src="../../../assets/images/Untitled design (1)11.png" alt="Soham Rana">
        <div class="developer-info">
            <h2>Soham Rana</h2>
            <p>Full Stack + Cloud Developer with expertise in Angular and Spring Boot.</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/ranasoham/" target="_blank">
                    <button class="btn"><i class="fab fa-linkedin"></i> LinkedIn</button>
                </a>
                <a href="https://github.com/SOHAMRANA77" target="_blank">
                    <button class="btn"><i class="fab fa-github"></i> GitHub</button>
                </a>
                <a href="your-portfolio-link-here" target="_blank">
                    <button class="btn"><i class="fas fa-globe"></i> Portfolio</button>
                </a>
            </div>
        </div>
    </div>
</section>
